# TechLibrairie environment example
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-production
DATABASE_URL="postgresql://user:password@localhost:5432/techlibrairie"
NEXT_PUBLIC_APP_NAME="TechLibrairie"
NEXT_PUBLIC_BRAND="Savoir & Technologie au Burkina Faso"

# Payment references
ORANGE_MONEY_NUMBER=76166974
MOOV_MONEY_NUMBER=70011017
